@charset "UTF-8";

    .Payment_form {
    width: 900px;
    margin: auto;
}
#payH{
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
}
#wonH{
	font-size: 25px;
	font-family: 'Quicksand', sans-serif;
}
#text1H{
    text-align: center;
    padding:50px;
    font-family: Noto Sans KR;
}
.Input_formH{
    width: 620px;
    margin: auto;
    padding: 0px
}
#text2H{
    font-size: 20px;
}
/* .paywonH{
	padding:100px;
} */
.Payment_formH .user1H {
    width: 407px;
    height: 35px;
    font-size: 18px;
    padding-left: 15px;
    margin: 0px auto 15px;
    border-radius: 5px;
    border: 1px solid #dbdada;
    
}
.Payment_formH .userH {
    width: 500px;
    height: 35px;
    font-size: 18px;
    padding-left: 15px;
    margin: 0px auto 15px;
    border-radius: 5px;
    border: 1px solid #dbdada;
}
.user1H{
    width:240px;
    height: 35px;
    font-size: 18px;
    padding-left: 15px;
    margin: 0px auto 15px;
    border-radius: 5px;
    border: 1px solid #dbdada;
}
#paybtn{
     width: 300px; border-radius: 7px; background-color: #4e4f5536; color: white; text-align: center; line-height: 30px; font-size: 17px; display: inline-block; margin-left: 100px; cursor: pointer;
}
/* #won{
    margin-left: 800px;
} */
#add_btn{
    width: 90px; height: 35px; border-radius: 3px; background-color: #6e6c6c; color: white; text-align: center; line-height: 20px; font-size: 17px;   cursor: pointer;
}
/**주문내역**/
.korFontH {font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font: 20px;}
.engFontH {font-family: 'Quicksand', sans-serif ;font-weight: 600; font-size: 20px;}
#phrasesH {width: 1280px; height: 110px; text-align: center;  margin: 0 auto; }
#phrasesH #p1H {margin: 0px; font-family: 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 25px; margin-top: 40px;}
#orderListH {width: 1280px;   margin: 0 auto;}
.listH {width: 900px; height: 150px; margin: 0 auto;}
.listH img{width: 150px; height: 112px;  margin-top: 20px; display: inline-block;}
.hrH {width: 1280px; height: 2px; background-color: darkgray;}
.prodInfoJ   {display: inline-block; width: 740px; margin: 0 auto;  float: right; margin-top: 25px;}
.info1H { margin-left: 20px; width: 350px; display: inline-block; display: inline-block; text-align: center; }
.info2H {width: 100px; display: inline-block; display: inline-block; text-align: center; }
.info3H {margin-left: 50px; width: 200px; display: inline-block; display: inline-block; text-align: center; }
#ulH {list-style: none;}
#ulH li {vertical-align: middle;}
.lineH {width: 720px; height: 2px; background-color: darkgray; float: right; }
#btnriviewH {height: 30px; width: 150px; border: none; background-color: rgb(180, 225, 255); font-size: 18px;
        color: rgb(28, 99, 206); border-radius: 5px; float: right;  margin-right: 20px; }